/* 
content:
1. html
2. header
	1) actions
3. wrappers
	1) themes
	2) saves
	3) additionals
	4) sketches
4. body
*/

/*-------------------------------------------- html -----------------------------------------------*/

*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body>div>a>img {
	display: none;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden
}

body {
	font-family: 'IBM Plex Sans Thai Looped', sans-serif;
	font-weight: bold;
	background-image: url("images/main_background_two.jpg");
	background-size: cover;
	background-position: center;
}

ul {
	list-style-type: none;
}

button {
	font-family: 'IBM Plex Sans Thai Looped', sans-serif;
	cursor: pointer;
	user-select: none;
	border: none;
	font-weight: bold;
}

/*------------------------------------------ header -----------------------------------------------*/

.header {
	top: 0;
	width: 100%;
	height: 7vh;
	background-color: rgba(200, 200, 200, 0.99);
	display: flex;
	color: black;
	z-index: 1;
}

.header i {
	font-size: 5vh;
	margin: 1vh;
	cursor: pointer;
}

.header i:active {
	transform: scale(0.95);
}

/*------------------------------------------ actions -----------------------------------------------*/

.actions_buttons {
	display: flex;
	align-items: center;
}

.actions_buttons i {
	font-size: 4.5vh;
}

/*------------------------------------------ wrappers -----------------------------------------------*/

.menu__wrapper {
	position: fixed;
	top: 7vh;
	width: 60vw;
	background-color: rgba(200, 200, 200, 0.99);
	transform: translateX(0vw);
	transition: transform .3s;
	height: calc(100% - 7vh);
	left: -60vw;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu__wrapper.open {
	transform: translateX(60vw);
}

.menu__wrapper_body {
	height: 100%;
}

/*------------------------------------------ themes -----------------------------------------------*/

.themes {
	width: 60vw;
	text-align: center;
}

.themes_icons h1 {
	cursor: pointer;
}

.themes h1 {
	font-size: 2.8vh;
	padding-top: 1vh;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 4vw;
	padding-right: 4vw;
}

.themes_icons {
	width: 60vw;
	display: flex;
	justify-content: space-evenly;
}

.themes_icons button {
	font-size: 2.4vh;
	border-radius: 1vh;
	padding-left: 4vw;
	padding-right: 4vw;
	box-shadow: rgb(0 0 0 / 30%) 0.3vh 0.3vh 0.6vh, inset rgba(255, 255, 255, 0.5) 0.2vh 0.2vh 0.4vh 0px;
}

.themes_icons button:active {
	box-shadow: inset rgb(0 0 0 / 30%) 0.3vh 0.3vh 0.6vh;
}

.white-theme_icon,
.black-theme_icon {
	padding-bottom: 1vh;
	border-bottom: 0.3vh solid black;
}

.black-theme_icon {
	border: 0 !important;
}

.white-theme_icon button {
	color: rgb(0, 0, 0);
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: rgba(0, 0, 0, 0.3) 0.4vh 0.4vh 0.8vh;
}

.black-theme_icon button {
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: rgba(0, 0, 0, 0.3) 0.4vh 0.4vh 1vh;
}

/*------------------------------------------ saves -----------------------------------------------*/

/*------------------------------------------ items -----------------------------------------------*/


.items {
	width: 55vw;
	text-align: center;
	margin-top: 2vh;
	padding-left: 2.5vw;
	padding-right: 2.5vw;
	height: 100%;
}

.items__head {
	width: 100%;
	display: flex;
}

.items h1,
.items h2 {
	font-size: 2.8vh;
	width: 100%;
	text-align: center;
}

.items__button{
	display: flex;
	justify-content: space-evenly;
}

.items__button button {
	width: fit-content;
	margin: 1vh 0;
	padding: 0 3vw;
	text-align: center;
	font-size: 2.4vh;
	border-radius: 1vh;
	background-color: rgb(220, 220, 220);
	box-shadow: rgb(0 0 0 / 30%) 0.3vh 0.3vh 0.6vh, inset rgba(255, 255, 255, 0.5) 0.2vh 0.2vh 0.4vh 0px;

}

.items__button button:active {
	transform: scale(0.94);
	box-shadow: inset rgb(0 0 0 / 30%) 0.3vh 0.3vh 0.6vh;
}

.item {
	margin-top: 0.8vh;
	transition: background-color .2s;
	border-radius: 5px;
	box-shadow: 0.2vh 0.2vh 0.7vh rgba(0, 0, 0, 0.4);
}

.item.active {
	background-color: rgba(220, 220, 220, 1);
	transition: background-color .2s;
}

.item__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding-left: 1vw;
}

.item i {
	font-size: 2.6vh;
}

.item h2 {
	font-size: 2.4vh;
}

.item button {
	font-size: 2.2vh;
	background-color: rgba(220, 220, 220, 1);
	border-radius: 5px;
	padding: 0 1.5vw;
	box-shadow: rgb(0 0 0 / 30%) 0.3vh 0.3vh 0.6vh;
}

.item button:active {
	box-shadow: inset rgb(0 0 0 / 30%) 0.3vh 0.3vh 0.6vh;
}

.item__toolbar {
	width: 100%;
	display: none;
	justify-content: space-evenly;
	margin-top: -3.8vh;
	padding-bottom: 1.2vh;
	opacity: 0;
}

.item.active .item__toolbar {
	display: flex;
	animation: switchOn .3s;
	margin-top: 1.2vh;
	opacity: 1;

}

.item.disactive .item__toolbar {
	animation: switchOFF .3s;
	display: flex;
}

@keyframes switchOn {
	from {
		margin-top: -3.8vh;
		opacity: 0;
	}

	to {
		margin-top: 1.2vh;
		opacity: 1;
	}
}

@keyframes switchOFF {

	0% {
		margin-top: 1.2vh;
		opacity: 1;
	}

	70% {
		opacity: 0;
	}

	100% {
		margin-top: -3.8vh;
	}
}

.item__toolbar button {
	font-size: 2.2vh;
	border-radius: 5px;
	padding: 0 1vw;
	margin: -0.5vh 0;
	background-color: rgba(180, 180, 180, 1)
}

/*------------------------------------------ additionals -----------------------------------------------*/

.additionals {
	display: flex;
	justify-content: space-evenly;
	padding: 1vh 0;
	width: 100%;
}

.additionals button {
	background-color: rgba(0, 0, 0, 0);
}

.additionals button:active {
	transform: scale(0.92);
}

.additionals i {
	font-size: 4vh;
	text-shadow: rgba(0, 0, 0, 0.2) 0.3vh 0.3vh 0.6vh;
}

/* -------------------------------------------------------------- */

.plus__wrapper {
	position: fixed;
	top: 7vh;
	width: 60vw;
	background-color: white;
	transform: translateX(0vw);
	transition: transform .3s;
	height: calc(100% - 7vh);
	background-color: rgba(200, 200, 200, 0.99);
	right: -60vw;
	z-index: 1;
}

.plus__wrapper.open {
	transform: translateX(-60vw);
}

.plus__wrapper_manual {
	width: 55vw;
	padding-left: 2.5vw;
	padding-right: 2.5vw;
	text-align: center;
}

.plus__wrapper h1 {
	width: 100%;
	text-align: center;
	font-size: 2.8vh;
}

.choose-jump {
	display: flex;
	align-items: center;
}

.plus__wrapper h2 {
	font-size: 2.4vh;
}

.plus__wrapper_checkbox,
.plus__wrapper_number {
	width: 2.8vh;
	height: 2.8vh;
	margin-left: auto;
	text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.plus__wrapper-btn {
	font-size: 2.4vh;
	text-align: center;
	background-color: rgb(220, 220, 220);
	margin: auto;
	padding: 0 3vw;
	border-radius: 1vh;
	width: fit-content;
	box-shadow: rgb(0 0 0 / 30%) 0.3vh 0.3vh 0.6vh, inset rgba(255, 255, 255, 0.5) 0.2vh 0.2vh 0.4vh 0px;
}

.plus__wrapper-btn:active {
	transform: scale(0.94);
	box-shadow: inset rgb(0 0 0 / 30%) 0.3vh 0.3vh 0.6vh;
}

.plus__wrapper_random {
	width: 100%;
	text-align: center;
	font-size: 2.8vh;
	margin-top: 2vh;
	width: 55vw;
	padding-left: 2.5vw;
	padding-right: 2.5vw;
}

.plus__wrapper_random>div {
	display: flex;
	align-items: center;
}

/*------------------------------------------ sketches -----------------------------------------------*/

.sketches{
	padding: 0 1vw;
	width: 58vw;
}

.items__body {
	height: calc(100% - 55vh);
    overflow-y: scroll;
	padding: 1vh;
}

.saves__body{
  height: 62vh;
}

.sketch_main-body{
	padding: 0 1vw 0 0;
}

::-webkit-scrollbar {
	width: 5px;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: black;
}

@media (max-width: 500px){
	
	.saves__body{
	  height: 54vh;
	}
}

/*------------------------------------------ /wrappers -----------------------------------------------*/

.main_logo {
	margin: 0 auto;
}

.main_logo img {
	box-sizing: border-box;
	max-height: 100%;
	padding: 1vh;
	filter: brightness(0);
}

.main_logo h1 {
	margin: 0;
	width: 100%;
}

/*-------------------------------------------- body -----------------------------------------------*/

.elements__item_blur {
	position: absolute;
	backdrop-filter: blur(5px);
	z-index: -1;
	border-radius: 2px;
	width: 100%;
	height: 100%;
}

.elements {
	width: 100%;
	height: calc(100% - 7vh);
}

.elements__head {
	display: flex;
	justify-content: center;
	align-items: center;
}

.elements__head button {
	font-size: 3.5vh;
	padding: 1vh;
	border-radius: 1vh;
	background-color: rgb(180, 180, 180);
	box-shadow: rgba(0, 0, 0, 0.4) 0.3vh 0.3vh 0.6vh;
	text-shadow: rgb(0 0 0 / 40%) 0.3vh 0.3vh 0.6vh;
}

.elements__head button:active {
	transform: scale(0.94);
}

.elements__title {
	font-size: 5vh;
	text-align: center;
	margin: 0 3vh;
	color: rgb(220, 220, 220);
}

.elements__list {
	width: 88vw;
	height: calc(100% - 12vh);
	margin: 0 6vw 6vw;
	font-size: 2.5vh;
	color: black;
	overflow-y: scroll;
}

.elements__list::-webkit-scrollbar-thumb {
	background-color: white;
}

.elements__item {
	position: relative;
	display: flex;
	margin: 0.5vh 0.4vh 0.4vh;
	border-radius: 2px;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.6);
}

.elements__item i {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 2vw;
	font-size: 0.9vh;
	cursor: pointer;
	text-shadow: rgba(0, 0, 0, 0.4) 0.1vh 0.1vh 0.2vh;
}

.elements__item-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: auto;
}

.elements__item-buttons button:nth-child(1) {
	margin-right: 4vw !important;
}

.elements__item-buttons button {
	font-size: 2.3vh;
	background: none;
	margin-right: 2vw;
	text-shadow: rgba(0, 0, 0, 0.4) 0.1vh 0.1vh 0.2vh;
}

.elements__item-buttons button:active {
	transform: scale(0.92);
}

.sortable-ghost {
	opacity: 0;
}

.sortable-drag {
	opacity: 1;
}

.elements__item_blur {
	display: none;
	visibility: none;
}
